<a href="https://colab.research.google.com/github/ibrahim-13199/Worex_Case_Study/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Configuer Spark

In [3]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://bitbucket.org/habedi/datasets/raw/b6769c4664e7ff68b001e2f43bc517888cbe3642/spark/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!rm -rf spark-3.0.2-bin-hadoop2.7.tgz*

In [4]:
!pip install pyspark py4j
!pip -q install findspark pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=f70fe2426e5dff6379a6c11ee3bb25d923f24a7112f7199667cd6222ac062ea4
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [5]:
import os

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = os.environ["SPARK_HOME"]

os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"] = "notebook"
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[*] pyspark-shell"

In [6]:
!export PYSPARK_SUBMIT_ARGS="--master local[*] pyspark-shell"
!export PYSPARK_DRIVER_PYTHON=jupyter
!export PYSPARK_DRIVER_PYTHON_OPTS=notebook

In [7]:
import findspark
findspark.init()

In [8]:
from pyspark import SparkConf
from pyspark.context import SparkContext

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))
data = sc.textFile("/content/insurance.csv")

In [9]:
data

/content/insurance.csv MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [10]:
data.take(10)

['age,sex,bmi,children,smoker,region,charges',
 '19,female,27.9,0,yes,southwest,16884.924',
 '18,male,33.77,1,no,southeast,1725.5523',
 '28,male,33,3,no,southeast,4449.462',
 '33,male,22.705,0,no,northwest,21984.47061',
 '32,male,28.88,0,no,northwest,3866.8552',
 '31,female,25.74,0,no,southeast,3756.6216',
 '46,female,33.44,1,no,southeast,8240.5896',
 '37,female,27.74,3,no,northwest,7281.5056',
 '37,male,29.83,2,no,northeast,6406.4107']

# Impelementing DataFrame

In [20]:
from pyspark.sql import SparkSession , functions as f

spark = SparkSession \
    .builder \
    .appName("Task") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [13]:
df = spark.read.csv("/content/insurance.csv",header=True)
df.show(10)

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 19|female|  27.9|       0|   yes|southwest|  16884.924|
| 18|  male| 33.77|       1|    no|southeast|  1725.5523|
| 28|  male|    33|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
+---+------+------+--------+------+---------+-----------+
only showing top 10 rows

In [14]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- bmi: string (nullable = true)
 |-- children: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- region: string (nullable = true)
 |-- charges: string (nullable = true)

In [15]:
# Select only the "name" column
df.select("region").show(10)

+---------+
|   region|
+---------+
|southwest|
|southeast|
|southeast|
|northwest|
|northwest|
|southeast|
|southeast|
|northwest|
|northeast|
|northwest|
+---------+
only showing top 10 rows

In [16]:
df.filter(df['age'] > 21).show()

+---+------+------+--------+------+---------+-----------+
|age|   sex|   bmi|children|smoker|   region|    charges|
+---+------+------+--------+------+---------+-----------+
| 28|  male|    33|       3|    no|southeast|   4449.462|
| 33|  male|22.705|       0|    no|northwest|21984.47061|
| 32|  male| 28.88|       0|    no|northwest|  3866.8552|
| 31|female| 25.74|       0|    no|southeast|  3756.6216|
| 46|female| 33.44|       1|    no|southeast|  8240.5896|
| 37|female| 27.74|       3|    no|northwest|  7281.5056|
| 37|  male| 29.83|       2|    no|northeast|  6406.4107|
| 60|female| 25.84|       0|    no|northwest|28923.13692|
| 25|  male| 26.22|       0|    no|northeast|  2721.3208|
| 62|female| 26.29|       0|   yes|southeast| 27808.7251|
| 23|  male|  34.4|       0|    no|southwest|   1826.843|
| 56|female| 39.82|       0|    no|southeast| 11090.7178|
| 27|  male| 42.13|       0|   yes|southeast| 39611.7577|
| 52|female| 30.78|       1|    no|northeast| 10797.3362|
| 23|  male|23.845|       0|    no|northeast| 2395.17155|
| 56|  male|  40.3|       0|    no|southwest|  10602.385|
| 30|  male|  35.3|       0|   yes|southwest|  36837.467|
| 60|female|36.005|       0|    no|northeast|13228.84695|
| 30|female|  32.4|       1|    no|southwest|   4149.736|
| 34|female| 31.92|       1|   yes|northeast| 37701.8768|
+---+------+------+--------+------+---------+-----------+
only showing top 20 rows

In [17]:
# Group By Regoins
df.groupBy("region").count().show()

+---------+-----+
|   region|count|
+---------+-----+
|northwest|  325|
|southeast|  364|
|northeast|  324|
|southwest|  325|
+---------+-----+

In [18]:
data.count()

1339

In [21]:
# Total Number of BMI
df.select(f.sum('bmi').alias("Total Num Of Bmi")).show()
# df.select(f.avg('bmi').alias("Avearge of BMI")).show()

+------------------+
|  Total Num Of Bmi|
+------------------+
|41027.624999999985|
+------------------+

In [22]:
# Mean Number of BMI
df.select(f.mean('bmi').alias("Total_Bmi")).show()
# Max Age
df.select(f.max('age').alias("Max Age")).show()
# Mini Age
df.select(f.min('age').alias("Mini Age")).show()

+------------------+
|         Total_Bmi|
+------------------+
|30.663396860986538|
+------------------+

+-------+
|Max Age|
+-------+
|     64|
+-------+

+--------+
|Mini Age|
+--------+
|      18|
+--------+

In [23]:
# Get the Total Sum Of all AGEs in each Regoin
from pyspark.sql.types import *
df.withColumn("age",df.age.cast(IntegerType())).groupBy("region").agg(f.sum('age').alias("Total Ages in Each Regoin")).show()

+---------+-------------------------+
|   region|Total Ages in Each Regoin|
+---------+-------------------------+
|northwest|                    12739|
|southeast|                    14174|
|northeast|                    12723|
|southwest|                    12823|
+---------+-------------------------+

In [24]:
#agg to can use alias()
# Get the Max Num Of all AGEs in each Regoin
from pyspark.sql.types import *
df.withColumn("bmi",df.bmi.cast(IntegerType())).groupBy("region").agg(f.max('bmi').alias("Max bmi in Each Regoin")).show()

+---------+----------------------+
|   region|Max bmi in Each Regoin|
+---------+----------------------+
|northwest|                    42|
|southeast|                    53|
|northeast|                    48|
|southwest|                    47|
+---------+----------------------+

# Implementing Rdd functions

In [74]:
#to implement the persist rdd
dataLengths = data.map(lambda s: len(s))  #this is transformation
totalLength = dataLengths.reduce(lambda a, b: a + b) #action
print(dataLengths)

PythonRDD[134] at RDD at PythonRDD.scala:53

In [ ]:
lineLengths.persist()  #if we need it again so do it in persist
#lineLengths.unpersist()

In [93]:
#implement distinct func

result=data.distinct()
result.count()

1338

In [113]:
#Accumulator

# Identify the values that need to be collected or aggregated
total_count = spark.sparkContext.accumulator(0)

# Update the accumulator within Spark transformations or actions
df.foreach(lambda row: total_count.add(1))

# Retrieve the accumulated value at the driver node
accumulated_value = total_count.value

print(accumulated_value)

1338

Traceback (most recent call last):
  File "/content/spark-3.0.2-bin-hadoop2.7/python/pyspark/broadcast.py", line 111, in dump
    pickle.dump(value, f, pickle_protocol)
  File "/content/spark-3.0.2-bin-hadoop2.7/python/pyspark/rdd.py", line 278, in __getnewargs__
    raise Exception(
Exception: It appears that you are attempting to broadcast an RDD or reference an RDD from an action or transformation. RDD transformations and actions can only be invoked by the driver, not inside of other transformations; for example, rdd1.map(lambda x: rdd2.values.count() * x) is invalid because the values transformation and count action cannot be performed inside of the rdd1.map transformation. For more information, see SPARK-5063.

PicklingError: ignored